TEMPL_PARAM_DEV_ENV=http://localhost:3000/
TEMPL_PARAM_KEYCLOAK_URL=http://localhost:8080
TEMPL_PARAM_KEYCLOAK_REALM=trading-agent
TEMPL_PARAM_KEYCLOAK_CLIENTID=spog
TEMPL_PARAM_SHELL_SPOG_REMOTE_URL=http://localhost:3000/remoteEntry.js
TEMPL_PARAM_SHELL_SPOG_DOMAIN=http://localhost:3000
TEMPL_PARAM_SHELL_PUBLIC_PATH=/
